<div class = "game-play">
  <button class = "reset-button glow-on-hover" routerLink = "" (click) = "playAgain()">Complete Reset</button>
  <div class = 'scorecard-list'>
    <app-score-card [ngClass]="{'live': player === livePlayer}" *ngFor="let player of fullPlayers" [player] ="player"></app-score-card>
  </div>
  <app-number-picker *ngIf="!finished; else elseBlock" (updateBoard)="updateBoard()"></app-number-picker>
  <ng-template  #elseBlock>
    <div class = 'play-again-cont'>
      <div class = 'play-again glow-on-hover'  (click) = "playAgain()">Play Again?</div>
    </div>
  </ng-template>
</div>
