.how-to {
  margin-left: 100px;
  margin-right: 100px;
  background-color: var(--primary);
  border-radius: 20px;
  padding: 50px;
  max-width: 800px;
  max-height: 300px;
  overflow: scroll;
  box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.75);
}

.text {
  max-height: 300px;
}

.title{
  font-size: 2rem;
  margin: 10px;
}

.text-ending{
  margin: 10px;
}