<div class = 'how-to'>
  <div class = 'text'>
    Here is a big Paragraph Here is a big Paragraph Here is a big Paragraph Here is a big ParagraphHere is a big Paragraph Here is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big ParagraphHere is a big Paragraph
  </div>
</div>
