<div class='how-to'>
  <div class='title'>
    Welcome to Bowler!
  </div>
  <div class='paragraph'>
    This is a Bowling calculator app, disco style. The calculator is set up slightly different than a regular bowling
    scoresheet in that is shows points collected for each frame indiviually, making it easier for beginners to understand
    how bowling points are scorred.
  </div>
  <div class = 'text-ending'>
    Add players to the game on the right then click 'Bowl!' to start your game!
  </div>
</div>