.one-frame {
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
  height: 100%;
}

.frame-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1
}

.top-right {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  flex: 1
}
.top-left {
  flex: 1
}

.frame-bottom {
  flex: 1
}