.full-screen {
  display: flex;
  flex-direction: column;
}


.selection-screen {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.lets-play {
  display: flex;
  justify-content: center;
}

.play-button {
  text-align: center;
  width: 50vw;
  border: 1px solid black ;
  border-radius: 10px;
  height: 4rem;
  background-color: var(--tertiary);
  font-size: 3rem;
}

.play-button:hover {
  cursor: pointer;
}


.player-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border: 1px solid var(--accent);
  margin: 5px;
}

.bowlers-title {
  font-size: 2rem;
}

.player-item-cont{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: scroll;
  border: black 1px solid;
  margin-bottom: 20px;
  background-color: var(--accent);
  border-radius: 10px;
}

.how-to {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: auto auto;
}

.how-to-text{
  align-self: center;
}

.player-side{
  flex: 1;
  margin: 20px;
}
