.full-screen {
  display: flex;
  flex-direction: column;
}


.selection-screen {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.lets-play {
  display: flex;
  justify-content: center;
}

.play-button {
  text-align: center;
  width: 50vw;
  border: 1px solid black ;
  border-radius: 10px;
  height: 4rem;
  background-color: var(--tertiary);
  font-size: 3rem;
}

.play-button:hover {
  cursor: pointer;
}


.player-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border: 1px solid var(--accent);
  margin: 5px;
}

.bowlers-title {
  font-size: 2rem;
}

.player-item-cont{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: scroll;
  border: black 1px solid;
  margin-bottom: 20px;
  background-color: var(--accent);
  border-radius: 10px;
}

.how-to {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: auto auto;
}

.how-to-text{
  align-self: center;
}

.player-side{
  flex: 1;
  margin: 20px;
}
::-webkit-scrollbar {
  display: none;
}

/*Down below is simply for glowing feature*/
.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
